@media(max-width: 670px ){

	.lesson {
		width: 100%;
		padding-bottom: 30px;
    } 
    .top-wrapper {
    	width: 100%;
    	text-align: center;
    	background-size: 600px 980px;
    }
    .btn {
    	color: white;
    	padding: 8px 24px;
        display: inline-block; 
        opacity: 0.8;
        border-radius: 20px;
        width: 250px;
        height: 70px;
        font-size: 30px;
    }
    .txt-contents {
    	font-size: 18px;
    }
}
@media(max-width: 1000px ){
	.lesson {
		width: 50%;

	}
}
