@media(max-width: 670px ){
	.main {
		width: 100%;
		height: 830px;
	}
	.mm {
		width: 100%;
		height: 830px;
	}
	.header {
		width: 100%;
		height: 75px;
		
	}
	.ana {
		width: 455px;

	}
	.link1 {
		font-size: 25px;
		color: white;

	}
}
